* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: slateblue;
}

span {
    background-color: springgreen;
}

.oi {
    font-size: 20px;
}

.oi h3 {
    font-size: 300px;
}

#oi ul li {
    color: tomato;
}

.menino {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: yellow;
}

.menino h3 {
    padding: 0 10px 20px 30px;
    order: 2;
    font-size: 100px;
}

.menino p {
    order: -1
}