@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    width: 100%;
    min-height: 100vh;
    font-size: 10px;
}

.container {
    background-color: #F0F2F5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.group1 {

    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
    padding-right: 2em;
    width: 58rem;
}

.group1 img {
    width: 25rem;
}

.group1 p {
    font-size: 2.8em;
}

.group2 {
    display: flex;
    flex-direction: column;
    text-align: center;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    padding: 2em;
    border-radius: 0.8em;
    width: 395px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);

}

.group2 input {
    padding: 1.4em;
    width: 33.9rem;
    height: 2.2rem;
    border-radius: 0.6em;
    border: 1px solid #dddfe2;
    margin-bottom: 1.3em;
    font-size: 1.7rem;

}

input {
    outline: none;
}

input:active,
input:focus {

    border: 0.1rem solid #1877f2;
    box-shadow: 0 0 3px #1876f28e;
    color: #00c;
}

.group2 button.blue {
    border: none;
    font-size: 2rem;
    border-radius: 0.6rem;
    color: #fff;
    font-weight: 600;
    background-color: #1877f2;
    padding: 0 1.6rem;
    width: 33.9rem;
    line-height: 4.8rem;
    cursor: pointer;
}

.esqueceu {
    font-size: 1.4rem;
    color: #1877f2;
    margin-top: 1.6rem;
}

hr {
    margin: 2rem 1.6rem;
    background-color: #dddfe2;
    width: 33rem;
    height: 0.05rem;
    border: none;

}

.group2 button.green {

    background-color: #42b72a;
    color: #fff;
    font-weight: 600;
    border-radius: 0.6rem;
    font-size: 1.7rem;
    line-height: 4.8rem;
    padding: 0 1.6rem;
    border: none;
    cursor: pointer;

}

aside p {
    font-size: 1.2rem;
    margin-top: 2.8rem;
}

aside p span {
    font-size: 1.3rem;
    font-weight: 700;
}

footer {
    margin: 0 4rem;
    padding-top: 2rem;
}

footer ul {
    display: flex;
    justify-content: center;
    padding-top: 0.8rem;

}

footer ul li {
    font-size: 1.7rem;
    list-style-type: none;
    margin-left: 1rem;
    color: #737373;
}