* {
    margin: 0;
    padding: 0;
}

body {

    width: 100%;
    min-height: 100vh;
    font-family: Helvetica, sans-serif;
}

main {
    background-color: aqua;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

input {
    padding: 5px;
}

button {
    padding: 5px;
}